h1{
    color: green;
    text-align: center;
    margin-top: 150px;
    text-decoration:underline;
}
form{
    text-align: center;
    margin-inline-start: 10px;
}
input{
    border-radius: 12px;
}
placeholder{
    font-size: small;
}
button{
    padding: 7px;
    font-size: larger;
    border-radius: 7px;
}
label{
    color: blue;
    font-style: oblique;
}